.MuiCard-root {
    position: relative;
    min-height: 12vw;
    display: block;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
}

.MuiCardActions-root {
    position: absolute;
    bottom: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
}

.MuiCardHeader-title {
    font-weight: bold !important;
}
